@import url('https://fonts.googleapis.com/css?family=Walter+Turncoat&display=swap');

body {
  font-family: 'Walter Turncoat', cursive;
  background-image: url("https://github.com/pupdog999/PUPPYDOG/blob/master/istockphoto-1040154700-170667a.jpg?raw=true");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


h1 {
  font-size: 50px;
  color: #091F6E;
  border: 5px dotted black;
  float: center;
}

h2 {
  color: #5F26DA;
}
h3 {
  color: #0C2EC3;
}
ul {
   font-style: italic; 
   font-size: 25px;
   color: #9C080F;
   border: 2px dotted blue;
   float: center;
}

p {
  color: #6C07F5;
}
  
.breeds {
  color: #6F0A9E;
}

.navbar {
  overflow: hidden;
  background-color: #FFFFFF;
}

.navbar a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

.navbar a:hover {
  background-color: #C3FBF3;
  color: #000000;
}


.navbar a.active {
  background-color: #C3FBF3; 
  color: black;
}



